<form (ngSubmit)="onSubmit()" [formGroup]="loginForm" #formDir="ngForm">
  <h1>Login</h1>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
    <div *ngIf="email.invalid && formDir.submitted" class="validation-error">
      <span *ngIf="email.errors?.['required']">Campo obrigatório.</span>
      <span *ngIf="email.errors?.['maxlength']">Tamanho do email muito longo.</span>
      <span *ngIf="email.errors?.['email']">Formato de email inválido.</span>
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password">
    <div *ngIf="password.invalid && formDir.submitted" class="validation-error">
      <span *ngIf="password.errors?.['required']">Campo obrigatório.</span>
      <span *ngIf="password.errors?.['minlength']">Tamanho mínimo de 4 caracteres.</span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Entrar</button>
</form>


